:root {
  --vp-c-brand-3: #e4c8c5;
  --vp-c-brand-1: #bd695e;
  --vp-c-brand-2: #ad4336;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    -45deg,
    #0050a6,
    #0050a6,
    #0050a6,
    #fedd00,
    #fedd00,
    #fedd00,
    #009739,
    #009739,
    #009739
  );

  --vp-home-hero-image-background-image: -webkit-linear-gradient(
    125deg,
    var(--vp-c-brand-2),
    var(--vp-c-brand-2),
    var(--vp-c-brand-3)
  );

  --vp-home-hero-image-filter: blur(4rem);

  --vp-button-brand-active-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-bg: var(--vp-c-brand-3);
  --vp-button-brand-bg: var(--vp-c-brand-2);

  --vp-font-family-base: 'Twemoji Country Flags', 'Chinese Quotes', 'Inter var',
    'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(5rem);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(6rem);
  }
}

#trusted-by-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#small-text {
  font-size: 0.8rem;
  display: block;
  margin: 1rem;
  color: var(--vp-c-text-2);
  text-align: center;
}

#small-text a {
  color: var(--vp-c-text-1);
  text-decoration: underline;
}

#small-text a:hover {
  text-decoration: none;
}

#trusted-by {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--vp-c-bg-soft);
  border-radius: 12px;
  gap: 2rem;
  width: min(100%, 1152px);
  flex-wrap: wrap;
  margin: 0 24px;
  padding: 24px;
}

#trusted-by a {
  filter: contrast(0);
  width: 128px;
  transition: all 0.2s ease-in;
}

#trusted-by a:hover {
  filter: none;
}

@media (min-width: 960px) {
  #trusted-by {
    margin: 0 64px;
  }
}

@media (min-width: 640px) {
  #trusted-by {
    margin: 0 48px;
  }
}

/* Support for flag emojis */
@font-face {
  font-family: 'Twemoji Country Flags';
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
    U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill/dist/TwemojiCountryFlags.woff2')
    format('woff2');
  font-display: swap;
}

.twoslash-popup-docs.twoslash-popup-docs-tags.vp-doc {
  display: none;
}

.VPTeamMembers.medium.count-1 {
  display: flex;
  justify-content: center;
}
